/* TODO 2. The text should be white and background black. */
/* TODO 4. The text should be center aligned. */
body {
  color: white;
  background: black;
  text-align: center;
}

/* TODO 1. The main h1 text should be using the Regular Libre Baskerville Font from Google Fonts:
  https://fonts.google.com/specimen/Libre+Baskerville */

/* TODO 6. Read about the text-transform property on MDN docs to make the h1 uppercase with CSS.
  https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform  */
h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
}

/* TODO 3. Add your own image into the images folder inside assets. It should have a 5px white border. */
img {
  border: 5px solid white;
  width: 100%;
  /* height: 350px; */
  height: 350px;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

/* TODO 5. Create a div to contain the h1, p and img elements. Adjust the margins so that the image and text are centered on the page. 
  Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%.
  Hint: Set the image to have a width of 100% so it fills the div.  */
/* TODO 5. Create a div to contain the h1, p and img elements. Adjust the margins so that the image and text are centered on the page.
  Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%.
  Hint: Set the image to have a width of 100% so it fills the div.  */
#meme-container {
  width: 50%;
  margin-left: 25%;
  /* height: 50%; */
  margin-top: 100px;
}
